.image {
  text-align: center;
  margin-bottom: 1rem;
}

#launchingImage {
  width: 100%; /* Full width of the container */
  height: 400px; /* Fixed height */
  object-fit: cover;
  border-radius: 0; /* Remove rounded corners */
  box-shadow: none; /* Remove shadow */
}

.text-center {
  text-align: center;
}

.main-text {
  font-size: 2rem;
  color: #323C4E;
  font-weight: bold;
}

.content-small-text {
  display: block;
  font-size: 1rem;
  color: #323C4E;
  text-align: center;
}

@media (max-width: 768px) {
  .main-text {
    font-size: 1.5rem;
  }

  .content-small-text {
    font-size: 0.875rem;
  }
}

.launching-soon{
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
}

.debugging-perfection{
  margin-top: 50px;
}
