nav.navbar {
  height: 60px;
}

.container-fluid {
  padding: 0;
}

.proxima-logo {
  height: 100%;
  width: auto;
  max-height: 60px;
  object-fit: contain;
  display: block;
  margin: 0 auto 0 20px;
}

@media (max-width: 768px) {
  .proxima-logo {
    max-height: 40px;
  }

  .navbar-collapse {
    text-align: right;
  }

  .navbar-nav {
    background-color: #fff;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .nav-item {
    width: 100%;
  }
}

.navbar-nav {
  margin-right: 20px;
}

.nav-link {
  cursor: pointer;
  color: #323C4E;
}
